# Supabase & Environment Variables
# Em Desenvolvimento Local: NEXT_PUBLIC_USE_MOCK=true
# Em Produção na Vercel: NEXT_PUBLIC_USE_MOCK=false
NEXT_PUBLIC_USE_MOCK=true

NEXT_PUBLIC_SUPABASE_URL=https://seu-projeto.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
